@import "tailwindcss";
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
body {
    font-family: 'Space Mono', Courier, monospace;
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Show scrollbar on hover or scroll */
.scrollbar-auto {
  scrollbar-width: thin; /* Firefox */
}

.scrollbar-auto::-webkit-scrollbar {
  width: 8px; /* Chrome, Safari, Edge */
}

.scrollbar-auto::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Customize scrollbar color */
  border-radius: 4px;
}